<div class="row" style="padding: 15px">
  <div
    style="
      color: maroon;
      font-weight: bold;
      font-size: 30px;
      margin: 2% 0% 5% 20%;
    "
  >
    <b>Welcome to User Dashboard</b>
  </div>
  <div class="card bg-light" id="bloodCards">
    <div class="card-body text-left">
      <div style="font-weight: bolder; font-size: 28px">
        Total Donors <i class="fa fa-heart" aria-hidden="true"></i>
      </div>
      <div
        style="
          color: maroon;
          text-transform: capitalize;
          font-size: larger;
          font-size: 20px;
          font-weight: bolder;
        "
      >
        {{ number | async }} donors
      </div>
    </div>
  </div>
  <div class="card bg-light" id="bloodCards">
    <div class="card-body text-left">
      <div class="card-text" style="font-weight: bolder; font-size: 28px">
        Total Registered Users <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div
        style="
          color: maroon;
          text-transform: capitalize;
          font-size: larger;
          font-size: 20px;
          font-weight: bolder;
        "
      >
        {{ totalusers | async }} users
      </div>
    </div>
  </div>
  <div class="card bg-light" id="bloodCards">
    <div class="card-body text-left">
      <div class="card-text" style="font-weight: bolder; font-size: 28px">
        Total Blood Groups <i class="fa fa-list" aria-hidden="true"></i>
      </div>
      <div
        style="
          color: maroon;
          text-transform: capitalize;
          font-size: larger;
          font-size: 20px;
          font-weight: bolder;
        "
      >
        {{ totalbloodgroups | async }} blood groups
      </div>
    </div>
  </div>
</div>

<br /><br />
