/* user-dashboard.component.css */

/* Style for the outer row container */
.row {
  padding: 15px;
  align-items: center;
}

/* Style for the "Welcome to User Dashboard" heading */
.heading {
  color: maroon;
  font-weight: bold;
  font-size: 30px;
}

/* Style for mat-card elements */
.mat-card {
  width: 100%;
  margin-bottom: 20px; /* Add space between mat-card elements */
}

/* Style for mat-card-content within mat-card */
.mat-card-content {
  padding: 20px;
}

/* Style for the title (e.g., "Total Donors") within mat-card-content */
.title {
  font-weight: bolder;
  font-size: 28px;
}

/* Style for the number of donors/users/blood groups */
.number {
  color: maroon;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bolder;
}

/* Customize mat-icon styles */
mat-icon {
  vertical-align: middle;
  margin-right: 8px; /* Add space between mat-icon and text */
}

/* Style for the mat-card */
.mat-card {
  width: 40%;
  align-content: center;
  margin: 20px; /* Add space between mat-card elements */
  transition: transform 0.2s ease; /* Smooth transition effect on transform */
}

/* Hover effect: Scale up the mat-card on hover */
.mat-card:hover {
  transform: scale(1.05); /* Scale up by 5% on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
