<div class="row" style="padding: 15px">
  <div style="color: maroon; font-weight: bold; font-size: 30px; margin: 2%;">
    <b>User Dashboard</b>
  </div>

  <mat-card class="mat-card bg-light" id="bloodCards">
    <mat-card-content class="text-left">
      <div style="font-weight: bolder; font-size: 28px">
        Total Donors <mat-icon>favorite</mat-icon>
      </div>
      <div style="color: maroon; text-transform: capitalize; font-size: 20px; font-weight: bolder;">
        {{ number | async }} donors
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card bg-light" id="bloodCards">
    <mat-card-content class="text-left">
      <div style="font-weight: bolder; font-size: 28px">
        Total Registered Users <mat-icon>person</mat-icon>
      </div>
      <div style="color: maroon; text-transform: capitalize; font-size: 20px; font-weight: bolder;">
        {{ totalusers | async }} users
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="mat-card bg-light" id="bloodCards">
    <mat-card-content class="text-left">
      <div style="font-weight: bolder; font-size: 28px">
        Total Blood Groups <mat-icon>format_list_bulleted</mat-icon>
      </div>
      <div style="color: maroon; text-transform: capitalize; font-size: 20px; font-weight: bolder;">
        {{ totalbloodgroups | async }} blood groups
      </div>
    </mat-card-content>
  </mat-card>
</div>