<div class="container">
  <h2 class="textual">
    <i style="color: red" class="fa fa-heart"></i> Add new Donor
  </h2>
  <form #addDonorform="ngForm" (ngSubmit)="addDonor()">
    <div class="form-group">
      <label for="donorname">Donor Name: <b class="text-danger">*</b></label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter donor name"
        name="donorname"
        [(ngModel)]="donor.donorName"
        required
        #donorname="ngModel"
        [class.is-invalid]="donorname.invalid && donorname.touched"
      />
      <small class="text-danger" *ngIf="donorname.invalid && donorname.touched">
        <b>Required field</b>
      </small>
    </div>

    <!-- Other Form Fields with Conditional Error Display -->
    <!-- Blood Group -->
    <div class="form-group">
      <label for="bloodgroup"
        >Donor Blood Group: <b class="text-danger">*</b></label
      >
      <input
        type="text"
        class="form-control"
        placeholder="Enter blood group"
        name="bloodgroup"
        [(ngModel)]="donor.donorBloodType"
        required
        #bloodgroup="ngModel"
        [class.is-invalid]="bloodgroup.invalid && bloodgroup.touched"
      />
      <small
        class="text-danger"
        *ngIf="bloodgroup.invalid && bloodgroup.touched"
      >
        <b>Required field</b>
      </small>
    </div>

    <!-- Mobile Number -->
    <div class="form-group">
      <label for="mobile"
        >Donor Mobile Number: <b class="text-danger">*</b></label
      >
      <input
        type="tel"
        class="form-control"
        placeholder="Enter mobile number"
        name="mobile"
        [(ngModel)]="donor.donorContactNumber"
        required
        #mobile="ngModel"
        [class.is-invalid]="mobile.invalid && mobile.touched"
      />
      <small class="text-danger" *ngIf="mobile.invalid && mobile.touched">
        <b>Required field</b>
      </small>
    </div>

    <!-- Gender -->
    <div class="form-group">
      <label for="gender">Donor Gender: <b class="text-danger">*</b></label>
      <select
        class="form-control"
        name="gender"
        [(ngModel)]="donor.donorGender"
        required
        #gender="ngModel"
      >
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
      </select>
      <small class="text-danger" *ngIf="gender.invalid && gender.touched">
        <b>Required field</b>
      </small>
    </div>

    <!-- Age -->
    <div class="form-group">
      <label for="age">Donor Age: <b class="text-danger">*</b></label>
      <input
        type="number"
        min="0"
        max="65"
        class="form-control"
        placeholder="Enter donor age"
        name="age"
        [(ngModel)]="donor.donorAge"
        required
        #age="ngModel"
        [class.is-invalid]="age.invalid && age.touched"
      />
      <small class="text-danger" *ngIf="age.invalid && age.touched">
        <b>Required field</b>
      </small>
      <small class="text-danger" *ngIf="age.errors?.['max']">
        <b>Maximum age limit of 65 years exceeded</b>
      </small>
    </div>

    <!-- Address -->
    <div class="form-group">
      <label for="address">Donor Address: <b class="text-danger">*</b></label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter donor address"
        name="address"
        [(ngModel)]="donor.donorAddress"
        required
        #address="ngModel"
        [class.is-invalid]="address.invalid && address.touched"
      />
      <small class="text-danger" *ngIf="address.invalid && address.touched">
        <b>Required field</b>
      </small>
    </div>

    <!-- Submit Button -->
    <button
      style="margin-top: 15px"
      [disabled]="addDonorform.form.invalid"
      type="submit"
      class="btn registerbtn"
    >
      Add Donor
    </button>
  </form>
</div>
