#profilecard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card {
  margin: 1%;
  background-color: #e9e8e8;
}

.text {
  margin-bottom: 10px;
}

.element {
  margin-left: 10px;
}

.btndiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#message {
  display: block;
  text-align: center;
  margin-top: 3%;
  color: green;
}

.mat-mdc-card-header {
  text-align: center;
  justify-content: center;
}

.mat-mdc-card-avatar {
  margin-left: 47%;
}
