<div class="row">
  <div class="col-2">
    <div class="dataTables_length"><label>Show
        <select [(ngModel)]="pagesize" (change)="reloadData()">
          <option value="6">6</option>
          <option value="12">12</option>
          <option value="24">24</option>
          <option value="48">48</option>

          <option value="100">100</option>
        </select> entries</label>
    </div>
  </div>
  <div class="col-md-10" style="float:right; text-align: right">
    <div class="paginations">
      <div>
        <div class="btn-group" id="radiobtn">
          <a class="btn btn-primary btn-sm notActive" (click)="onPrevious()"> Previous </a>
          <a class="btn btn-primary btn-sm active">{{filter.page}}</a>
          <a class="btn btn-primary btn-sm notActive" (click)="onNext()">Next </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div *ngFor="let recipient of recipients" class="example-card">
    <!-- matirial cards -->
    <mat-card class="mat">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Name: {{ recipient.recipientName }}</mat-card-title>
          <mat-card-subtitle>
            Blood Group:
            <span class="element" style="color: red">{{
              recipient.recipientBloodType
              }}</span></mat-card-subtitle>
          <img *ngIf="recipient.recipientGender.toLowerCase() === 'male'" mat-card-sm-image src="assets/img/male.png" />
          <img *ngIf="recipient.recipientGender.toLowerCase() === 'female'" mat-card-sm-image
            src="assets/img/female.png" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Gender: {{ recipient.recipientGender }}
      </mat-card-content>
      <mat-card-content>
        Address: {{ recipient.recipientAddress }}
      </mat-card-content>
      <mat-card-content> Age: {{ recipient.recipientAge }} </mat-card-content>
      <mat-card-content>
        Contact: {{ recipient.recipientContactNumber }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" style="margin-right: 25px" (click)="editRecipient(recipient)">
          Edit
        </button>
        <button mat-flat-button color="warn" (click)="deleteRecipient(recipient)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<div class="edit-form" *ngIf="edit">
  <h3>Edit Recipient</h3>
  <form (ngSubmit)="saveEditedRecipient()">
    <div class="form-group">
      <label>Recipient Name:</label>
      <input type="text" class="form-control" [(ngModel)]="selectedRecipient.recipientName" name="donorName" />
    </div>
    <div class="form-group">
      <label>Blood Group:</label>
      <input type="text" class="form-control" [(ngModel)]="selectedRecipient.recipientBloodType" name="BloodGroup" />
    </div>
    <div class="form-group">
      <label>Gender:</label>
      <input type="text" class="form-control" [(ngModel)]="selectedRecipient.recipientGender" name="Gender" />
    </div>
    <div class="form-group">
      <label>Contact:</label>
      <input type="text" class="form-control" [(ngModel)]="selectedRecipient.recipientContactNumber"
        name="ContactNumber" />
    </div>
    <div class="form-group">
      <label>Age:</label>
      <input type="number" class="form-control" [(ngModel)]="selectedRecipient.recipientAge" name="Age" />
    </div>
    <div class="form-group">
      <label>Address:</label>
      <input type="text" class="form-control" [(ngModel)]="selectedRecipient.recipientAddress" name="Address" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>