<div class="sidebar-logo">
  <div class="welcometxt">
    <b>{{ title }}</b>
  </div>
  <input
    class="form-control"
    id="searchtxt"
    type="text"
    name="bloodGroup"
    [(ngModel)]="bloodGroup"
    placeholder="Search via blood group..."
    (ngModelChange)="search()"
  />
</div>

<div class="row">
  <div *ngFor="let recipient of recipients" class="example-card">
    <!-- matirial cards -->
    <mat-card class="mat">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Name: {{ recipient.recipientName }}</mat-card-title>
          <mat-card-subtitle>
            Blood Group:
            <span class="element" style="color: red">{{
              recipient.recipientBloodType
            }}</span></mat-card-subtitle
          >
          <img
            *ngIf="recipient.recipientGender.toLowerCase() === 'male'"
            mat-card-sm-image
            src="assets/img/male.png"
          />
          <img
            *ngIf="recipient.recipientGender.toLowerCase() === 'female'"
            mat-card-sm-image
            src="assets/img/female.png"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        Gender: {{ recipient.recipientGender }}
      </mat-card-content>
      <mat-card-content>
        Address: {{ recipient.recipientAddress }}
      </mat-card-content>
      <mat-card-content> Age: {{ recipient.recipientAge }} </mat-card-content>
      <mat-card-content>
        Contact: {{ recipient.recipientContactNumber }}
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" style="margin-right: 25px">
          Edit
        </button>
        <button mat-flat-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
