<h1 mat-dialog-title>{{inputData.title}}</h1>
<div mat-dialog-content>

  <mat-card>
    <mat-card-header>
      <h2>Donate Form</h2>
    </mat-card-header>
    <mat-card-content>
      <form #donorForm="ngForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="selectedDonor.donorName"
            required />
        </div>
        <div class="form-group">
          <label for="bloodGroup">Blood Group:</label>
          <input type="text" class="form-control" id="bloodGroup" name="bloodGroup"
            [(ngModel)]="selectedDonor.donorBloodType" required />
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>

<button mat-raised-button color="warn" (click)="closePopup(donorForm)">Confirm</button>
<button mat-raised-button color="accent" [mat-dialog-close]="closeMessage">Cancel</button>