.active,
.btn:hover {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
}

.active-text {
  color: #eee;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}
mat-sidenav {
  width: 200px;
  background-color: #eee;
}

mat-list-item {
  cursor: pointer;
}
