<mat-toolbar color="primary" *ngIf="appLoaded; else splash">
  <mat-toolbar-row>
    <h4>JeevanRakt</h4>
    <button mat-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button><mat-icon>home</mat-icon>Home</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item
        ><a
          [routerLink]="'./add-donor'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Add Donor</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          [routerLink]="'./add-recipient'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Add Recipient</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          [routerLink]="'/donor-list'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Donor List</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          [routerLink]="'/recipient-list'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Recipient List</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          [routerLink]="'/donate'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Donate Blood</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          [routerLink]="'/bloodstock'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Blood Stock</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          [routerLink]="'/employee-list'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Employees</a
        ></mat-list-item
      >
      <mat-list-item>
        <a
          [routerLink]="'/login'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Login</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          [routerLink]="'/dashboard'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Dashboard</a
        ></mat-list-item
      >
      <mat-list-item
        ><a
          [routerLink]="'/blood-transfert'"
          routerLinkActive="active"
          style="text-decoration: none"
          >Blood Transfert</a
        ></mat-list-item
      >
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

<ng-template #splash>
  <app-splash></app-splash>
</ng-template>
