<mat-toolbar color="primary" *ngIf="appLoaded; else splash">
  <mat-toolbar-row>
    <h4>JeevanRakt</h4>
    <button mat-button (click)="opened = !opened">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="onHome()"><mat-icon>home</mat-icon>Home</button>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="'./home'"
        >Home</a
      >
      <a mat-list-item routerLinkActive="active" [routerLink]="'./add-donor'"
        >Add Donor</a
      >
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLink]="'./add-recipient'"
        >Add Recipient</a
      >
      <a mat-list-item routerLinkActive="active" [routerLink]="'/donor-list'"
        >Donor List</a
      >

      <a
        mat-list-item
        routerLinkActive="active"
        [routerLink]="'/recipient-list'"
        >Recipient List</a
      >

      <a mat-list-item routerLinkActive="active" [routerLink]="'/donate'"
        >Donate Blood</a
      >

      <a mat-list-item routerLinkActive="active" [routerLink]="'/bloodstock'"
        >Blood Stock</a
      >

      <a mat-list-item routerLinkActive="active" [routerLink]="'/employee-list'"
        >Employees</a
      >

      <!-- <a mat-list-item routerLinkActive="active" [routerLink]="'/login'"
        >Login</a
      > -->

      <a mat-list-item routerLinkActive="active" [routerLink]="'/dashboard'"
        >Dashboard</a
      >

      <a
        mat-list-item
        routerLinkActive="active"
        [routerLink]="'/blood-transfert'"
        >Blood Transfert</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>

<ng-template #splash>
  <app-splash></app-splash>
</ng-template>
