<div>
  <div class="center mat-typography">
    <h1>Welcome to Blood Bank Management System</h1>
    <h2>Helping Save Lives</h2>
  </div>
  <h2 class="intro-text">
    Our Blood Bank Management System ensures efficient management of blood inventory and donor information to facilitate
    life-saving transfusions.
  </h2>
  <div class="render">
    <app-dashboard></app-dashboard>
  </div>

  <h3 class="feature-title">Features:</h3>
  <mat-divider></mat-divider>
  <div class="feature-container mat-typography">
    <div class="row">
      <app-feature-card *ngFor="let feature of featureArray" class="example-card" [title]="feature.title"
        [description]="feature.description" [icon]="feature.icon"></app-feature-card>
    </div>
    <h2 class="learn-title">Learn About Donation</h2>
    <h3 class="learn-text">
      Donating blood is a crucial act that can save lives. Here's what you need to know:
    </h3>
    <mat-divider></mat-divider>
    <div class="container">
      <mat-list>
        <mat-list-item>
          <mat-icon matListIcon>fiber_manual_record</mat-icon>
          <span matLine>Blood donation is safe and simple.</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>fiber_manual_record</mat-icon>
          <span matLine>A single blood donation can save multiple lives.</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>fiber_manual_record</mat-icon>
          <span matLine>Donors must meet certain criteria, including age and health requirements.</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>fiber_manual_record</mat-icon>
          <span matLine>Common blood types needed include A, B, AB, and O.</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>fiber_manual_record</mat-icon>
          <span matLine>Donating blood does not pose any health risks to the donor.</span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon>fiber_manual_record</mat-icon>
          <span matLine>Regular blood donors are essential to maintaining adequate blood supply.</span>
        </mat-list-item>
      </mat-list>
      <div class="image-container">
        <img src="assets/img/schedule_donation.png" alt="Blood Donation" loading="lazy" class="donation-image">
      </div>
    </div>

    <h1 class="donor-title">Compatible Blood Type Donors</h1>
    <mat-divider></mat-divider>
    <div class="table">
      <table mat-table [dataSource]="donors">
        <ng-container matColumnDef="bloodType">
          <th mat-header-cell *matHeaderCellDef>Blood Type</th>
          <td mat-cell *matCellDef="let donor">{{ donor.bloodType }}</td>
        </ng-container>
        <ng-container matColumnDef="compatibleDonors">
          <th mat-header-cell *matHeaderCellDef>Compatible Donors</th>
          <td mat-cell *matCellDef="let donor">{{ donor.compatibleDonors.join(", ") }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['bloodType', 'compatibleDonors']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['bloodType', 'compatibleDonors']"></tr>
      </table>
    </div>
    <h2 class="types-title">Types of Donation</h2>
    <h3 class="types-text">
      There are different types of blood donations, each serving specific medical needs:
    </h3>
    <mat-divider></mat-divider>
    <mat-list dense>
      <mat-list-item>
        <div matLine>
          <strong>Whole Blood Donation:</strong> The most common type where a pint of blood is collected.
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <strong>Platelet Donation:</strong> Platelets are extracted from the blood and other components are returned
          to the donor.
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <strong>Plasma Donation:</strong> Plasma is separated from the blood and used in treatments for various
          conditions.
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <strong>Double Red Cell Donation:</strong> Double the amount of red blood cells are collected and plasma is
          returned to the donor.
        </div>
      </mat-list-item>
    </mat-list>
    <h3 class="types-text">
      Each type of donation has its own benefits and impact on patients in need. Find out which type of donation suits
      you best and make a difference today!
    </h3>
    <p class="donate-text">
      Interested in donating blood? Contact us or visit your local blood donation center today!
    </p>
    <app-footer></app-footer>
  </div>
</div>