<div *ngIf="isMenuVisible">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>JeevanRakt</span>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button (click)="onHome()"><mat-icon>home</mat-icon>Home</button>
      <button mat-button (click)="onAbout()">About</button>
      <button mat-button (click)="logout()" *ngIf="userInfo">
        <mat-icon>logout</mat-icon>Logout
      </button>
      <button mat-raised-button color="accent" [routerLink]="'/login'" style="margin: 1%;" *ngIf="!userInfo">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-raised-button color="accent" [routerLink]="'/register'" *ngIf="!userInfo">Sign Up</button>
      <a mat-icon-button routerLink="userprofile">
        <mat-icon *ngIf="!profileUrl">account_circle</mat-icon>
        <mat-icon> <img *ngIf="profileUrl" [src]="profileUrl" /></mat-icon>
      </a>
      <span>{{ username }}</span>
      <button (click)="fetchNotifications()" mat-icon-button>
        <mat-icon matBadge="15" matBadgeColor="accent" [matBadgeHidden]="!showNotifications" aria-hidden="false">{{
          showNotifications ?
          'notifications_active' : 'notifications' }}</mat-icon>
      </button>
    </div>

  </mat-toolbar>

  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="false" mode="side" position="start">
      <mat-nav-list>
        <mat-list-item (click)="drawer.close()" *ngFor="let item of menulist" routerLinkActive="active">
          <!-- <button mat-button (click)="drawer.close()"
            routerLink="{{item.menu}}"><mat-icon>menu</mat-icon>{{item.menu}}</button> -->
          <div matLine routerLink="{{item.menu}}">
            <span><mat-icon class="icon-size">label_outline</mat-icon></span>
            <strong>{{item.menu}}</strong>
          </div>

        </mat-list-item>
        <mat-list-item><button mat-button (click)="logout()" *ngIf="userInfo">
            <mat-icon>logout</mat-icon>Logout
          </button></mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div style="text-align: center; min-height: 600px;">
        <div *ngIf="showNotifications">
          <h2>Notifications</h2>
          <ul>
            <li *ngFor="let notification of notifications">{{ notification }}</li>
          </ul>
        </div>

        <router-outlet></router-outlet>

      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
<div style="text-align: center; min-height: 600px;" *ngIf="!isMenuVisible">
  <router-outlet></router-outlet>
</div>