.active,
.btn:hover {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
}

.active-text {
  color: #eee;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}
mat-sidenav {
  width: 200px;
  background-color: #eee;
}

mat-list-item {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.user {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url("https://via.placeholder.com/400x200");
}

.two {
  background-image: url("https://via.placeholder.com/200x200");
}

.three {
  background-image: url("https://via.placeholder.com/200x400");
}

p {
  font-family: Lato;
}

mat-sidenav-content {
  background-image: url("/assets/img/bg2.jpg"); /* Set your desired background color */
  padding: 20px; /* Optional: Adjust padding as needed */
}

.icon-size {
  font-size: 20px;
}

.mat-drawer-content {
  background-color: #e3e2df;
}

.mat-drawer-container {
  height: calc(100vh - 64px);
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
  border-left-color: var(--primary-color);
  background: rgba(0, 0, 0, 0.05);
}
.spinner-container {
  width: 100%;
  margin-top: 100px;
}
.mat-drawer-container {
  position: relative;
  z-index: 1;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}

.mat-mdc-card-avatar{
  margin-bottom: 0px;
}

.check {
  border-radius: 5px;
  width: 220px;
  height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(147, 209, 117, 0.50);
  cursor:pointer;
  box-shadow:  0px 1px 0px gray, 3px 4px 5px gray;
  color: #0ad406;
  margin: 20px;
}
.check:hover{
  background-color: lightyellow;
  transition:0.5s;
}