.active,
.btn:hover {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
}

.active-text {
  color: #eee;
}

mat-sidenav-container {
  height: calc(205vh - 115vh);
}
mat-sidenav {
  width: 200px;
  background-color: #eee;
}

mat-list-item {
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.user {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.one {
  background-image: url("https://via.placeholder.com/400x200");
}

.two {
  background-image: url("https://via.placeholder.com/200x200");
}

.three {
  background-image: url("https://via.placeholder.com/200x400");
}

p {
  font-family: Lato;
}

mat-sidenav-content {
  background-image: url("/assets/img/bg2.jpg"); /* Set your desired background color */
  padding: 20px; /* Optional: Adjust padding as needed */
}

/* .tabs {
  width: 100%;
  max-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
} */

.icon-size {
  font-size: 20px;
}

.mat-drawer-content {
  background-color: antiquewhite;
}

.mat-drawer-container {
  height: calc(100vh - 64px);
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
  border-left-color: var(--primary-color);
  background: rgba(0, 0, 0, 0.05);
}

/* :host * {
  transition: all 500ms ease-in-out;
} */

/* .hide-header-text {
  opacity: 0;
  height: 0px !important;
}

mat-drawer,
mat-drawer-content {
  transition: all 500ms ease-in-out;
} */
