/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import "bootstrap/dist/css/bootstrap.min.css";

/* src/styles.css or src/styles.scss */
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
/* Add your custom styles below */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-green{
  color: green !important;
}


.text-red{
  color: red !important;
}