/* You can add global styles to this file, and also import other style files */
/* styles.css */
@import "bootstrap/dist/css/bootstrap.min.css";

/* src/styles.css or src/styles.scss */
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";
/* Add your custom styles below */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-green {
  color: green !important;
}

.text-red {
  color: red !important;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.img-style {
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}

@media (max-width: 992) {
  .img-style {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
