<div class="row">
  <div class="col-4 card" id="bloodCards">
    <a><img class="bloodimg" [src]="'assets/img/bloodDrop.png'" width="100" height="100" /></a>
    <div class="card-block">
      <div class="text">
        <b>Blood Group: </b><b class="element" style="font-size: 30px; color: red">
          A+</b>
      </div>

      <div class="text">
        <b>Available Units: </b><b class="element" style="font-size: 30px">
          {{ bloodInventory.a1 }}</b>
      </div>
    </div>
  </div>
  <div class="col-4 card" id="bloodCards">
    <a><img class="bloodimg" [src]="'assets/img/bloodDrop.png'" width="100" height="100" /></a>
    <div class="card-block">
      <div class="text">
        <b>Blood Group: </b><b class="element" style="font-size: 30px; color: red">
          A-</b>
      </div>

      <div class="text">
        <b>Available Units: </b><b class="element" style="font-size: 30px">
          {{ bloodInventory.a2 }}</b>
      </div>
    </div>
  </div>
  <div class="col-4 card" id="bloodCards">
    <a><img class="bloodimg" [src]="'assets/img/bloodDrop.png'" width="100" height="100" /></a>
    <div class="card-block">
      <div class="text">
        <b>Blood Group: </b><b class="element" style="font-size: 30px; color: red">
          B+</b>
      </div>

      <div class="text">
        <b>Available Units: </b><b class="element" style="font-size: 30px">
          {{ bloodInventory.b1 }}</b>
      </div>
    </div>
  </div>
  <div class="col-4 card" id="bloodCards">
    <a><img class="bloodimg" [src]="'assets/img/bloodDrop.png'" width="100" height="100" /></a>
    <div class="card-block">
      <div class="text">
        <b>Blood Group: </b><b class="element" style="font-size: 30px; color: red">
          B-</b>
      </div>

      <div class="text">
        <b>Available Units: </b><b class="element" style="font-size: 30px">
          {{ bloodInventory.b2 }}</b>
      </div>
    </div>
  </div>
  <div class="col-4 card" id="bloodCards">
    <a><img class="bloodimg" [src]="'assets/img/bloodDrop.png'" width="100" height="100" /></a>
    <div class="card-block">
      <div class="text">
        <b>Blood Group: </b><b class="element" style="font-size: 30px; color: red">
          O+</b>
      </div>

      <div class="text">
        <b>Available Units: </b><b class="element" style="font-size: 30px">
          {{ bloodInventory.o1 }}</b>
      </div>
    </div>
  </div>
  <div class="col-4 card" id="bloodCards">
    <a><img class="bloodimg" [src]="'assets/img/bloodDrop.png'" width="100" height="100" /></a>
    <div class="card-block">
      <div class="text">
        <b>Blood Group: </b><b class="element" style="font-size: 30px; color: red">
          O-</b>
      </div>

      <div class="text">
        <b>Available Units: </b><b class="element" style="font-size: 30px">
          {{ bloodInventory.o2 }}</b>
      </div>
    </div>
  </div>
  <div class="col-4 card" id="bloodCards">
    <a><img class="bloodimg" [src]="'assets/img/bloodDrop.png'" width="100" height="100" /></a>
    <div class="card-block">
      <div class="text">
        <b>Blood Group: </b><b class="element" style="font-size: 30px; color: red">
          AB+</b>
      </div>

      <div class="text">
        <b>Available Units: </b><b class="element" style="font-size: 30px">
          {{ bloodInventory.aB1 }}</b>
      </div>
    </div>
  </div>
  <div class="col-4 card" id="bloodCards">
    <a><img class="bloodimg" [src]="'assets/img/bloodDrop.png'" width="100" height="100" /></a>
    <div class="card-block">
      <div class="text">
        <b>Blood Group: </b><b class="element" style="font-size: 30px; color: red">
          AB-</b>
      </div>

      <div class="text">
        <b>Available Units: </b><b class="element" style="font-size: 30px">
          {{ bloodInventory.aB2 }}</b>
      </div>
    </div>
  </div>
</div>