<h1>Donor List</h1>
<div class="row" style="margin-top: 2%; margin-bottom: 2%;">
  <div class="col-3">
    <select [(ngModel)]="filterOn" class="form-select" aria-label="category">
      <option value="" selected disabled hidden>Select Category</option>
      <option value="DonorName">Name</option>
      <option value="DonorAge">Age</option>
      <option value="DonorGender">Gender</option>
      <option value="DonorContactNumber">Contact Number</option>
      <option value="DonorBloodType">Blood Type</option>
      <option value="DonorAddress">Address</option>
    </select>
  </div>
  <div class="col-3">
    <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search By">
  </div>
  <div class="col-3">
    <button class="btn btn-sm btn-success space" (click)="reloadData()">Search</button>
    <button class="btn btn-sm btn-success space" (click)="clear()">Clear</button>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="dataTables_length"><label>Show
        <select [(ngModel)]="pagesize" (change)="reloadData()">
          <option value="6">6</option>
          <option value="12">12</option>
          <option value="24">24</option>
          <option value="48">48</option>
          <option value="100">100</option>
        </select> entries</label>
    </div>
  </div>
  <div class="col-md-10" style="float:right; text-align: right">
    <div class="paginations">
      <div>
        <div class="btn-group" id="radiobtn">
          <a class="btn btn-primary btn-sm notActive" (click)="onPrevious()"> Previous </a>
          <a class="btn btn-primary btn-sm active">{{filter.page}}</a>
          <a class="btn btn-primary btn-sm notActive" (click)="onNext()">Next </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div *ngFor="let donor of donors" class="example-card">
    <mat-card class="mat">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Name: {{ donor.donorName }}</mat-card-title>
          <mat-card-subtitle>
            Blood Group:
            <span class="element" style="color: red">{{ donor.donorBloodType }}</span>
          </mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <img mat-card-avatar *ngIf="donor.donorGender.toLowerCase() === 'male'" mat-card-sm-image src="assets/img/male.png" />
      <img mat-card-avatar *ngIf="donor.donorGender.toLowerCase() === 'female'" mat-card-sm-image src="assets/img/female.png" />
      <img mat-card-avatar *ngIf="donor.donorGender.toLowerCase() === 'other'" mat-card-sm-image src="assets/img/other.png" />
      <mat-card-content>Gender: {{ donor.donorGender }}</mat-card-content>
      <mat-card-content>Address: {{ donor.donorAddress }}</mat-card-content>
      <mat-card-content>Age: {{ donor.donorAge }}</mat-card-content>
      <mat-card-content>Contact: {{ donor.donorContactNumber }}</mat-card-content>
      <mat-card-actions>
        <button mat-flat-button (click)="editDonor(donor)" color="primary" style="margin-right: 25px">Edit</button>
        <button mat-flat-button (click)="deleteDonor(donor)" color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
