<mat-card>
    <mat-card-header>
        <mat-card-title class="mat-card-title">BloodBank Request</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- bloodbank Name Column -->
                <ng-container matColumnDef="bloodBankName">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> BloodBank Name </th>
                    <td mat-cell *matCellDef="let bloodbank"> {{ bloodbank.bloodbankName }} </td>
                </ng-container>

                <!-- Address Column -->
                <ng-container matColumnDef="address">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Address </th>
                    <td mat-cell *matCellDef="let bloodbank"> {{ bloodbank.address }} </td>
                </ng-container>

                <ng-container matColumnDef="latitude">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Latitude </th>
                    <td mat-cell *matCellDef="let bloodbank"> {{ bloodbank.latitude }} </td>
                </ng-container>

                <ng-container matColumnDef="longitude">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Longitude </th>
                    <td mat-cell *matCellDef="let bloodbank"> {{ bloodbank.longitude }} </td>
                </ng-container>

                <!-- Transfer Button Column -->
                <ng-container matColumnDef="approve">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let bloodbank">
                        <button mat-raised-button color="primary" (click)="approveRequest(bloodbank)">Make BloodBank
                            Admin</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </mat-card-content>
</mat-card>

<div *ngIf="!available">
    <h2>No BloodBank Request Found</h2>
</div>