<div>
  <h2>Reset Password</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">New Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        class="form-control"
        required
      />
      <label for="password">Confirm Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="confirmPassword"
        class="form-control"
        required
      />
      <small class="text-danger" [class.d-none]="confirmPassword == password"
        ><b>password not matched</b></small
      >
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>
