/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.container {
  width: 80%;
  margin-top: 25px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
}

h2.textual {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #333;
  align-items: center;
  justify-content: center;
}

h2.textual i {
  margin-right: 10px;
  color: red;
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  cursor: pointer;
}

.text-danger {
  color: red;
}

.text-gray {
  color: gray;
  font-size: 12px;
}

.btn.registerbtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn.registerbtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

@media screen and (max-width: 600px) {
  mat-form-field {
    width: 100%; /* Expand form fields to full width on smaller screens */
    margin-right: 0; /* Remove right margin on form fields */
    margin-left: 0; /* Remove left margin on form fields */
  }
}

label {
  margin-left: 0;
}

button {
  margin: 2px;
}

.fix {
  margin-left: 2px;
}

table {
  width: 100%; /* Make table width 100% of its container */
  border-collapse: collapse; /* Collapse table borders */
}

td {
  padding: 30px;
}

mat-card {
  margin: 2%;
  text-align: left;
}

.mat-mdc-form-field {
  width: 98%;
  margin: 1%;
}

.mat-50 {
  margin: 1%;
  width: 48%;
}
